h1,p {
    color: #fff132;
}

body {
    background-color: #005a00;
}

@media screen and (max-width:979px) {
    h1,p {
        color: #fff;
    }

    body {
    background-color: #1b1bff;
    }
}

@media screen and (max-width:600px) {
    h1,p {
        color: #fff;
    }

    body {
    background-color: #000;
  }
}